<!doctype html>
<html lang="en">
<head>
    <title>InjuryTrak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                {% if user.user_level != 'coach' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/add_athlete">Add an Athlete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_user">Add a Coach</a>
                    </li>
                {% endif %}
                {% if user.user_level == 'S_Admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user/admin">Admin Dashboard</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{user.id}}">Your Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="page-header header container-fluid">
        <div class="overlay">
            <div class="description">
                <div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <h1>Welcome to the Admin Dashboard, {{ user.first_name }}!</h1>
                <table class="table table-hover table-dark" style="background-color:#8a7d7d">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">User Level</th>
                            <th scope="col">Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td data-label="name" ><a href='/user/{{user.id}}/admin' class='ath_a'>{{ user.last_name }}, {{ user.first_name }}</a></td>
                                <td data-label="Sport">{{ user.email }}</td>
                                <td data-label="Injury">{{ user.user_level }}</td>
                                <td data-label="Poss_return">{{ user.updated_at | date:"N d, Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>